@page "/"
@using Models
@inject NavigationManager NavigationManager

<PageTitle>Game Catalog</PageTitle>

<h1>Game Catalog</h1>

<div class="row mb-4">
  <div class="col-sm-6">
    <button type="button" class="btn btn-outline-success" @onclick="CreateGame">New game</button>

  </div>
</div>

@if (games is null)
{
  <p><em>Loading...</em></p>
}
else
{
  <DeleteGame Game="@currentGame" OnClose="OnDeleteModalClose">

  </DeleteGame>
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <th>Id</th>
      <th>Name</th>
      <th>Genre</th>
      <th>Price</th>
      <th>Release Date</th>
      <th></th>
    </thead>
    <tbody>
      @foreach (var game in games)
      {
        <tr>
          <td>@game.Id</td>
          <td>@game.Name</td>
          <td>@game.Genre</td>
          <td>@game.Price</td>
          <td>@game.ReleaseDate.ToString("dd/MM/yyyy")</td>
          <td>
            <button class="btn btn-outline-primary" @onclick="(()=>EditGame(game.Id))">
              <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
                <path fill="black"
                  d="M20.71 7.04c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.37-.39-1.02-.39-1.41 0l-1.84 1.83l3.75 3.75M3 17.25V21h3.75L17.81 9.93l-3.75-3.75z" />
              </svg>
            </button>
            <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModel"
              @onclick="(()=>currentGame =game)">
              <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
                <path fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                  d="M6.758 17.243L12.001 12m5.243-5.243L12 12m0 0L6.758 6.757M12.001 12l5.243 5.243" />
              </svg>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
@code {
  private Game[]? games;
  private Game? currentGame;

  protected override void OnInitialized()
  {
    games = GameClient.GetGames();
  }
  private void CreateGame()
  {
    NavigationManager.NavigateTo("/game");
  }

  private void EditGame(int id)
  {
    NavigationManager.NavigateTo($"/game/{id}");
  }

  private void OnDeleteModalClose(bool accpted)
  {
    if (accpted)
    {
      GameClient.DeletGame(currentGame!.Id);
      games = GameClient.GetGames();
    }
  }
}